.container {
  /* border: 3px solid green; */

  /* grid-template-columns: repeat(3,1fr) */
}

.product {
  /* border: 2px solid blue; */
  height: 90vh;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  
  
}
.product_main{
  /* border: 2px solid red; */
  justify-content: centre;
  margin: 0.3rem 1.2rem;
  height: 90vh;
}
.product_main > #image {
  width: 100%;
  height: 100%;
  
}
.product_main > #image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_details{
  /* border: 2px solid black; */
  justify-content: centre;
  margin: 0.3rem 1.2rem;
  height: 90vh;
}
.parent {
  width: 70%;
  /* border: 2px solid red; */
  margin: auto;
  display: grid;
  grid-template-columns: 0.7fr 2fr 2fr;
  gap: 1rem;
  margin-top:1rem;
}
.sub {
  width: 45%;
  height: 84%;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}
.sub_image {
  width: 90%;
  height: 16%;
  /* border: 1px solid black; */
  margin:  auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
 
}
 
.sub_image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#bag {
  /* border: 1px solid black; */
  padding: 0.9rem;
  margin-bottom: 0.6rem;
  color: white;
  font-size: 1.1rem;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#wishlist {
  border: 1px solid rgb(148, 130, 130);
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#head {
  margin-left: 1rem;
}
#title {
  margin-left: 1rem;
}
#price {
  margin-left: 1rem;
  font-weight: bold;
}
#return {
  font-size: 0.8rem;
  color: black;
  font-weight: 700;
  text-decoration: underline;
  margin-left: 1rem;
}
#pinterest {
  /* border:2px dashed red; */
  width:45%;
  height:10%;
  margin: 0 auto;
}
#pinterest > img{
 margin-left:25%;
 margin-top:40%;
}
