* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 90%;
    margin: auto;
    gap: 16px;
  }
  
  #btn {
    display: flex;
    background-color: #008ecc;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
  }
  
  .border {
    border: 1px solid #111;
    padding: 10px;
    border-radius: 12px;
    height: 320px;
    position: relative;
  }
  
  .price {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
  }
  
  .price > p {
    margin-left: 10px;
    color: grey;
  }
  
  .price > p > span {
    text-decoration: line-through;
  }
  
  .border > img,
  .border > h4 {
    margin-bottom: 10px;
  }
  
  .discount {
    position: relative;
    top: 0;
    left: 0;
    background-color: red;
    color: #fff;
    width: 36px;
    height: 36px;
    padding: 4px;
    border-radius: 50%;
  }
  
  .addToCart {
    width: 100%;
    height: 100%;
  }
  
  .dec,
  .inc {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 4px 8px;
    cursor: pointer;
  }