.container {
  border: 3px solid green;

  /* grid-template-columns: repeat(3,1fr) */
}

.product {
  border: 2px solid blue;
  justify-content: centre;
  margin: 0.3rem 1.2rem;
  height: 90vh;
}
.product > #image {
  width: 100%;
  height: 100%;
  background-color: grey;
}
.product > #image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.parent {
  width: 80%;
  border: 2px solid red;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 40% 40%;
  gap: 1rem;
}
.sub {
  width: 45%;
  height: 11vh;
  border: 1px solid black;
  margin: auto;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content:right;
}
.sub > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#bag {
  border: 1px solid black;
  padding: 0.9rem;
  margin-bottom: 0.6rem;
  color: white;
  font-size: 1.1rem;
  background-color: rgb(255, 98, 0);
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#wishlist {
  border: 1px solid rgb(148, 130, 130);
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#head {
  margin-left: 1rem;
}
#title {
  margin-left: 1rem;
}
#price {
  margin-left: 1rem;
  font-weight: bold;
}
#return {
  font-size: 0.8rem;
  color: black;
  font-weight: 700;
  text-decoration: underline;
  margin-left: 1rem;
}
#pinterest {
  margin-top: 3.8rem;
  margin-left: 2.5rem;
}
