body {
  margin: 0;
  padding: 0;
}
/* .main_container {
  height: 80vh;
  background-color: rgb(214, 214, 214);
} */
.container {
  border: 2px solid red;
  height: 60vh;
  width: 70vw;
  margin: auto;
  display:flex;
  justify-content:space-around;

}
.left_container{
    width:55%;
    border:1px solid green;
}
.right_container{
    width:35%;
    border:1px solid blue;
}
.shopping_bag{
    border:1px solid red;
    height:20%;
    display:flex;
}
#cart_image{
    border:2px solid black;
    height:100%;
    width:15%;

}
#cart_image>div{
    height:80%;
    width:80%;
    /* border:1px dashed gray; */
    margin: 5px 5px;
}
#cart_image>div>img{
    height:100%;
    width:100%;
    object-fit:cover;
}
#cart_text{
    border:1px dashed red;
   
}
#cart_text>h3{
    margin-top:10px;
    font-size:15px;
}
#cart_text>p{
   font-size: 13px;
   line-height: 1px
}
/* //cart_item */

.cart_item{
    border:2px dashed gray;
    height:35vh;
    margin-top: 2rem;
}



